body{
	margin:0;
	padding:0;
}
.flex-container{
	display:flex;
	flex-flow: row wrap;
	justify-content:space-between;
	align-items:center;
	padding:20px;
}
.item{
	width:150px;
	border:1px solid red;
	margin-bottom:20px;
}
.item1{
	height:120px;
}
.item2{
	height:100px;
}
.item3{
	height:40px;
}
.item4{
	height:200px;
	border:1px solid blue;
}

@media (max-width: 640px){
	.flex-container{
		align-items:flex-start;
	}
	.item4{
		order:-1;
	}
}