.PuzzlePhoto,
.PuzzlePhoto *{
	box-sizing:border-box;
}
body.grid{
	height:100%;
	overflow:hidden;
}
.PuzzlePhoto{
	position:relative;
	overflow:hidden;
}
.PuzzlePhoto img{
	width:100%;
	height:auto;
	opacity:0;
}
.PuzzlePhoto.grid{
	position:fixed;
	left:0;
	top:0;
	width:100% !important;
	height:100% !important;
	animation: grid-show 0.3s;
}
@keyframes grid-show{
	0%{
		transform: scale(0);
	}
	100%{
		transform:scale(1);
	}
}
.PuzzlePhoto .imgCover{
	background-repeat:no-repeat;
	height:100%;
	background-size:cover;
	background-position:center center;
	transition: all 0.3s ease-in-out;
	transform: translate3d(0, 0, 0);
	border:0px solid #fff;
	cursor:zoom-in;
}
.PuzzlePhoto .imgCover:hover{
	z-index:2;
	border-width:1rem;
	border-bottom-width:3rem;
}
.PuzzlePhoto .imgCover:hover:after{
	content:attr(data-alt);
	color:#cfcecc;
	font-weight:300;
	font-family:"微软雅黑";
	font-size:1.2rem;
	position:absolute;
	right:0;
	bottom:0;
	padding:1rem 1rem;
	width:100%;
	text-align:right;
	box-sizing:border-box;
	margin-bottom:-3.3rem;
}
.PuzzlePhoto.layout-1 .imgCover{
	width:100%;
}
.PuzzlePhoto.layout-2 .imgCover:first-child:hover:after{
	content:attr(data-alt);
	color:#cfcecc;
	font-weight:300;
	font-family:"微软雅黑";
	font-size:1.2rem;
	position:absolute;
	right:0;
	bottom:0;
	padding:1rem 1rem;
	width:100%;
	text-align:left;
	box-sizing:border-box;
	margin-bottom:-3.3rem;
}
.PuzzlePhoto.layout-2 .imgCover:last-child{
	transform:translateY(-100%);
	-webkit-clip-path: polygon(66.66666% 0, 100% 0, 100% 100%, 33.33333% 100%);
    clip-path: polygon(66.66666% 0, 100% 0, 100% 100%, 33.33333% 100%); }
}
.PuzzlePhoto.layout-3 .imgCover{
	position:absolute;
}
.PuzzlePhoto.layout-3 .imgCover:nth-child(2),.PuzzlePhoto.layout-3 .imgCover:last-child{
	position:absolute;
	right:0;
	height:50%;
}
.PuzzlePhoto.layout-3 .imgCover:nth-child(2){
	top:0;
}
.PuzzlePhoto.layout-3 .imgCover:last-child{
	bottom:0;
}
.PuzzlePhoto.layout-4 .imgCover{
	width:50%;
	height:50%;
	float:left;
}
.PuzzlePhoto.layout-5 .imgCover{
	width:50%;
	height:50%;
	float:left;
}
.PuzzlePhoto.layout-5 .imgCover:first-child{
	height:66.66667%;
}
.PuzzlePhoto.layout-5 .imgCover:nth-child(2){
	width:33.33333%;
}
.PuzzlePhoto.layout-5 .imgCover:nth-child(3),
.PuzzlePhoto.layout-5 .imgCover:nth-child(4),
.PuzzlePhoto.layout-5 .imgCover:nth-child(5){
	width:33.33333%;
}
.PuzzlePhoto.layout-5 .imgCover:nth-child(4),
.PuzzlePhoto.layout-5 .imgCover:nth-child(5){
	height:33.33333%;
}
.PuzzlePhoto.layout-5 .imgCover:nth-child(4),
.PuzzlePhoto.layout-5 .imgCover:nth-child(5){
	transform:translateY(-100%);
}
.PuzzlePhoto.layout-6 .imgCover{
	float:left;
	width:33.33333%;
	height:33.33333%;
}
.PuzzlePhoto.layout-6 .imgCover:first-child{
	height:66.66667%;
	width:66.66667%;
}
.PuzzlePhoto.layout-6 .imgCover:nth-child(2),
.PuzzlePhoto.layout-6 .imgCover:nth-child(3),
.PuzzlePhoto.layout-6 .imgCover:nth-child(4){
	float:right;
}
.PuzzlePhoto #PuzzlePhoto-grid-close{
	display:none;
	position:absolute;
	right:1rem;
	top:1rem;
	padding:0.4rem;
	color:#fff;
	font-size:3rem;
	text-shadow:0 0 10px #000;
	border-radius:1rem;
	cursor:pointer;
	transition:all 0.2s ease-in-out;
}
.PuzzlePhoto #PuzzlePhoto-grid-close:hover{
	background-color:rgba(0, 0, 0, 0.4);
}
.PuzzlePhoto.grid #PuzzlePhoto-grid-close{
	display:inline-block;
}
#PuzzlePhoto-pop{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.8);
	transform:scale(0);
	z-index:999;
	transition:transform 0.2s ease-in-out;
}
#PuzzlePhoto-pop.show{
	transform:scale(1);
}
#PuzzlePhoto-pop img{
	display:block;
	position:absolute;
	width:auto;
	height:auto;
	max-height:90%;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}